.custom-block
  &.example, &.note, &.warn
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.note
    background-color #f3f5f7
    border-color #42b983
  &.example
    background-color #f5f3f7
    border-color #b96ab5
  &.warn
    background-color #f7f5f3
    border-color #e28f2d

.video
  width: 100%;

.video-container
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

.video-container iframe, .video-container object, .video-container embed
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

.config-table table
  display: table;
  width: 100%;

.config-table th:nth-child(1), .config-table td:nth-child(1)
  width: 25%;

.config-table th:nth-child(2), .config-table td:nth-child(2)
  width: 25%;

.config-table th:nth-child(3), .config-table td:nth-child(3)
  width: 50%;

.command-param-nameless
  text-decoration: line-through;
  border-bottom: 1px dotted #000;
  cursor: help;

.command-param-required
  font-weight: 600;
  border-bottom: 1px dotted #000;
  cursor: help;
