.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page .home {
  padding: 0;
}

.landing .page .content {
  max-width: 960px;
}

.home .hero .action-button {
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 8em;
  text-align: center;
}

.home .hero .action-button:hover {
  background-color: #4abf8a;
  text-decoration: none;
}

.home .hero .action-button.white {
  background-color: #fff;
  color: #1baeea;
  text-decoration: none;
  border: 1px solid #1baeea;
}

.home .hero .action-button.white:hover {
  background-color: #eaf6ff;
}

.landing .actions a {
  margin: 0.5rem;
}

