/** https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/**
 * Fonts
 * -------------------------------------------------------------------------- */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    /* noinspection CssUnknownTarget */
    src: url(/assets/fonts/inter.woff2) format("woff2");
}

@font-face {
    font-family: "JetBrains";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    /* noinspection CssUnknownTarget */
    src: url(/assets/fonts/jb.woff2) format("woff2");
}

:root {
    --vp-font-family-base: "Inter", sans-serif;
    --vp-font-family-mono: "JetBrains", monospace;
    font-optical-sizing: auto;

    --vp-layout-max-width: 1450px; /** Default is 1440px **/
}

pre {
    font-variant-ligatures: none;
}

u {
    text-underline-position: under;
}

/**
 * Layout
 * -------------------------------------------------------------------------- */

/* The content width when left side-bar is present (pages under /guide). */
/* 720px is ~80 chars in code blocks. VitePress's default is 688px. */
.VPDoc.has-sidebar .content-container {
    max-width: 720px !important;
}

/* The content width when left side-bar is not present (pages outside of /guide). */
.VPDoc:not(.has-sidebar) {
    .container { max-width: var(--vp-layout-max-width) !important; }
    .content { max-width: 950px !important; }
    .content-container { max-width: 830px !important; }
}

/**
 * Brand
 * -------------------------------------------------------------------------- */

:root {
    /* Main highlight/link color. */
    --vp-c-brand-1: #00a3e6;
    /* Link hover color. */
    --vp-c-brand-2: #006e9b;
    /* ??? */
    --vp-c-brand-3: #1baeea;
    /* Background on `` snippets under tip blocks. */
    --vp-c-brand-soft: var(--vp-c-gray-soft);

    --vp-c-brand-light: #42beef;
    --vp-c-brand-lighter: #70cbef;
    --vp-c-brand-lightest: #abe0f5;
    --vp-c-brand-dark: #118dc0;
    --vp-c-brand-darker: #0e79a5;
    --vp-c-brand-dimm: rgba(27, 174, 234, 0.08);
}

.dark {
    /* Main highlight/link color. */
    --vp-c-brand-1: #1baeea;
    /* Link hover color. */
    --vp-c-brand-2: #7ddaff;
    /* Border under the navbar. */
    --vp-c-gutter: #111;

    /*!* Background of main bg. *!*/
    /*--vp-c-bg: #1b1d1f;*/
    /*!* Background of some lighter bgs (eg, algolia search). *!*/
    /*--vp-c-bg-soft: #1f2426;*/
    /*!* Background of menus (eg, lang selection) *!*/
    /*--vp-c-bg-elv: #1f2426;*/
    /*!* Background of sidebar bg. *!*/
    /*--vp-c-bg-alt: #151617;*/
    /*--vp-sidebar-bg-color: var(--vp-c-bg-alt);*/
}

.VPImage.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/**
 * Buttons
 * -------------------------------------------------------------------------- */

.vp-doc a {
    text-underline-position: from-font;
    /*text-decoration: none;*/
}

.external-link-icon {
    margin-left: -2px;
    margin-right: 2px;
}

/* [doc] superscript in release notes */
a:has(> sup) { text-decoration: none !important; }
a:has(> sup):not(:hover) { opacity: 0.65; }

sup + .external-link-icon {
    position: relative;
    top: -5px;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.vp-doc th, .vp-doc td, .vp-doc tr {
    border: inherit !important;
}

table {
    --border: 1px solid var(--vp-c-divider);
    width: fit-content;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: separate !important;
    border: var(--border) !important;
    overflow: hidden;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: var(--border) !important;
}

table > thead > tr:not(:last-child) > th,
table > thead > tr:not(:last-child) > td,
table > tbody > tr:not(:last-child) > th,
table > tbody > tr:not(:last-child) > td,
table > tfoot > tr:not(:last-child) > th,
table > tfoot > tr:not(:last-child) > td,
table > tr:not(:last-child) > td,
table > tr:not(:last-child) > th,
table > thead:not(:last-child),
table > tbody:not(:last-child),
table > tfoot:not(:last-child) {
    border-bottom: var(--border) !important;
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.custom-block.tip code,
.custom-block.info code {
    color: unset;
}

.danger .custom-block-title {
    display: none;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

:root {
    --vp-code-color: #476582;
    /*--vp-code-bg: var(--vp-c-gray-soft);*/
    /*--vp-code-block-bg: #161618;*/
    /*--vp-code-lang-color: rgba(235, 235, 245, 0.38);*/
}

.dark body {
    --vp-code-color: #c9def1;
}

.vp-doc :not(pre) > code {
    padding: 2px 6px;
}

.vp-doc a:hover > code {
    color: inherit !important;
}

/**
 * Algolia Search
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
    --docsearch-bg-color: rgba(255, 255, 255, 0.5);
    --docsearch-modal-shadow: 0 0 15px 0 var(--vp-c-border);
}

.dark .DocSearch {
    --docsearch-modal-shadow: none;
    --docsearch-bg-color: rgba(30, 30, 32, 0.5);
}

.dark .DocSearch-Modal {
    border: solid 1px var(--vp-c-divider);
}

@media (min-width: 769px) {
    .DocSearch--active {
        overflow: unset !important;
    }
}

.DocSearch-Container {
    background-color: transparent !important;
    transition: background-color .2s ease;
}

.DocSearch--active .DocSearch-Container {
    background-color: var(--docsearch-bg-color) !important;
}

.DocSearch-Modal {
    opacity: 0;
    transform: translateY(-15%) scale(0.95);
    transition: opacity, transform .2s ease;
}

.DocSearch--active .DocSearch-Modal {
    opacity: 1;
    transform: scale(1);
}

.DocSearch-Container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: backdrop-filter .2s ease;
    backdrop-filter: blur(5px) opacity(0);
}

.DocSearch--active .DocSearch-Container::after {
    backdrop-filter: blur(5px) opacity(1);
}

/**
 * Navbar blur effect
 * -------------------------------------------------------------------------- */

/* remove default opaque bg from navbar */
.content-body {
    background: none !important;
}

/* a hack for logo title to keep sidebar bg color */
@media (min-width: 960px) {
    .VPNavBar.has-sidebar div.title {
        background: var(--vp-sidebar-bg-color) !important;
    }
}

/* a bit of tint to make navbar not as transparent */
.VPNavBar {
    background: rgba(255, 255, 255, 0.75) !important;
}

.dark .VPNavBar {
    background: rgba(30, 30, 32, 0.5) !important;
}

.VPLocalNav {
    background: rgba(255, 255, 255, 0.75) !important;
}

.dark .VPLocalNav {
    background: rgba(30, 30, 32, 0.5) !important;
}

/* the blur effect */
.VPNav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(5px);
    z-index: -1;
}

.VPLocalNav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(5px);
    z-index: -1;
}

/**
 * Custom elements
 * -------------------------------------------------------------------------- */

.txt-ok {
    color: var(--vp-c-green-2);
}

.txt-warn {
    color: var(--vp-c-yellow-2);
}

.txt-err {
    color: var(--vp-c-red-2);
}

/* UPM package links on the /releases page. */
.upm {
    border: 1px solid var(--vp-code-copy-code-border-color);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: var(--vp-code-copy-code-bg);
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 17px;
    background-repeat: no-repeat;
    transition: border-color 0.25s, background-color 0.25s;
}

.upm:hover {
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
}

.upm-clicked {
    background-image: var(--vp-icon-copied);
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
}

abbr {
    cursor: help;
    text-underline-position: from-font;
}

/* Stretch YouTube embeds with small thumbnails. */
.imgit-youtube {
    width: 100% !important;
}

[data-imgit-container],
[data-imgit-container] img,
[data-imgit-container] video {
    border-radius: 8px;
}

.engine-design-light,
.engine-design-dark {
    width: 100%;
}

.engine-design-dark,
.dark .engine-design-light {
    display: none;
}

.engine-design-light,
.dark .engine-design-dark {
    display: block;
}

.config-table table {
    display: table;
    width: 100%;
}

.config-table th:nth-child(1),
.config-table td:nth-child(1) {
    width: 25%;
}

.config-table th:nth-child(2),
.config-table td:nth-child(2) {
    width: 25%;
}

.config-table th:nth-child(3),
.config-table td:nth-child(3) {
    width: 50%;
}

.command-param-nameless {
    text-decoration: line-through;
    border-bottom: 1px dotted #000;
    cursor: help;
}

.command-param-required {
    font-weight: 600;
    border-bottom: 1px dotted #000;
    cursor: help;
}
