/** https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/**
 * Fonts
 * -------------------------------------------------------------------------- */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    /* noinspection CssUnknownTarget */
    src: url(/assets/fonts/inter.woff2) format("woff2");
}

@font-face {
    font-family: "JetBrains";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    /* noinspection CssUnknownTarget */
    src: url(/assets/fonts/jb.woff2) format("woff2");
}

:root {
    --vp-font-family-base: "Inter", sans-serif;
    --vp-font-family-mono: "JetBrains", monospace;
    font-optical-sizing: auto;

    --vp-layout-max-width: 1450px; /** Default is 1440px **/
}

pre {
    font-variant-ligatures: none;
}

u {
    text-underline-position: under;
}

.dark .when-dark,
.when-light {
    display: flex !important;
}

.dark .when-light,
.when-dark {
    display: none !important;
}

/**
 * Layout
 * -------------------------------------------------------------------------- */

/* The content width when left side-bar is present (pages under /guide). */
/* 720px is ~80 chars in code blocks. VitePress's default is 688px. */
.VPDoc.has-sidebar .content-container {
    max-width: 720px !important;
}

/* The content width when left side-bar is not present (pages outside of /guide). */
.VPDoc:not(.has-sidebar) {
    .container { max-width: var(--vp-layout-max-width) !important; }
    .content { max-width: 950px !important; }
    .content-container { max-width: 830px !important; }
}

/**
 * Brand
 * -------------------------------------------------------------------------- */

:root {
    /* Main highlight/link color. */
    --vp-c-brand-1: #00a3e6;
    /* Link hover color. */
    --vp-c-brand-2: #006e9b;
    /* ??? */
    --vp-c-brand-3: #1baeea;
    /* Background on `` snippets under tip blocks. */
    --vp-c-brand-soft: var(--vp-c-gray-soft);

    --vp-c-brand-light: #42beef;
    --vp-c-brand-lighter: #70cbef;
    --vp-c-brand-lightest: #abe0f5;
    --vp-c-brand-dark: #118dc0;
    --vp-c-brand-darker: #0e79a5;
    --vp-c-brand-dimm: rgba(27, 174, 234, 0.08);

    /* Background of main bg. */
    /*--vp-c-bg: #fafafa;*/
    /* Background of some lighter bgs (eg, search). */
    /*--vp-c-bg-soft: #f5f5f5;*/
    /* Background of menus (eg, lang selection) */
    /*--vp-c-bg-elv: #fafafa;*/
    /* Background of sidebar bg. */
    /*--vp-c-bg-alt: #f5f5f5;*/
    /*--vp-sidebar-bg-color: var(--vp-c-bg-alt);*/
}

.dark {
    /* Main highlight/link color. */
    --vp-c-brand-1: #1baeea;
    /* Link hover color. */
    --vp-c-brand-2: #7ddaff;
    /* Border under the navbar. */
    --vp-c-gutter: #000;

    /* Main text color. */
    --vp-c-text-1: #dddddd;
    /* Text color inside side bar and table headers. */
    --vp-c-text-2: rgba(235, 235, 235, 0.6);

    /* Background of main bg. */
    --vp-c-bg: #191919;
    /* Background of some lighter bgs (eg, search). */
    --vp-c-bg-soft: #212121;
    /* Background of menus (eg, lang selection) */
    --vp-c-bg-elv: #212121;
    /* Background of sidebar bg. */
    --vp-c-bg-alt: #151515;
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);
    --vp-custom-block-info-bg: #252525;
}

.VPImage.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/**
 * Buttons
 * -------------------------------------------------------------------------- */

.vp-doc a {
    text-underline-position: from-font;
    /*text-decoration: none;*/
}

.external-link-icon {
    margin-left: -2px;
    margin-right: 2px;
}

/* [doc] superscript in release notes */
a:has(> sup) { text-decoration: none !important; line-height: 0; }
a:has(> sup):not(:hover) { opacity: 0.65; }

sup + .external-link-icon {
    position: relative;
    top: -5px;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.vp-doc th, .vp-doc td, .vp-doc tr {
    border: inherit !important;
}

table {
    --border: 1px solid var(--vp-c-divider);
    width: fit-content;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: separate !important;
    border: var(--border) !important;
    overflow: hidden !important;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: var(--border) !important;
}

table > thead > tr:not(:last-child) > th,
table > thead > tr:not(:last-child) > td,
table > tbody > tr:not(:last-child) > th,
table > tbody > tr:not(:last-child) > td,
table > tfoot > tr:not(:last-child) > th,
table > tfoot > tr:not(:last-child) > td,
table > tr:not(:last-child) > td,
table > tr:not(:last-child) > th,
table > thead:not(:last-child),
table > tbody:not(:last-child),
table > tfoot:not(:last-child) {
    border-bottom: var(--border) !important;
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.custom-block.tip code,
.custom-block.info code {
    color: unset;
}

.danger .custom-block-title {
    display: none;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

:root {
    --vp-code-color: #476582;
    /*--vp-code-bg: var(--vp-c-gray-soft);*/
    /*--vp-code-block-bg: #161618;*/
    /*--vp-code-lang-color: rgba(235, 235, 245, 0.38);*/
}

.dark body {
    --vp-code-color: #c9def1;
}

.vp-doc :not(pre) > code {
    padding: 2px 5px;
}

.vp-doc a:hover > code {
    color: inherit !important;
}

/**
 * Local Search
 * -------------------------------------------------------------------------- */

/* By default VP hides the page scrollbar when search is active; disable that. */
@media (min-width: 769px) {
    body {
        overflow: unset !important;
    }
}

@keyframes backdrop-fade-in {
    from { background-color: transparent; }
    to { background-color: rgba(255, 255, 255, 0.5); }
}

.VPLocalSearchBox .backdrop {
    animation: backdrop-fade-in .2s ease forwards;
}

@keyframes backdrop-fade-in-dark {
    from { background-color: transparent; }
    to { background-color: rgba(30, 30, 32, 0.5); }
}

.dark .VPLocalSearchBox .backdrop {
    animation: backdrop-fade-in-dark .2s ease forwards;
}

.VPLocalSearchBox .shell {
    box-shadow: 0 0 15px 0 var(--vp-c-border);
}

.dark .VPLocalSearchBox .shell {
    border: solid 1px var(--vp-c-divider);
    box-shadow: none;
}

@keyframes modal-slide-in {
    from { opacity: 0; transform: translateY(-15%) scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.VPLocalSearchBox .shell {
    animation: modal-slide-in .2s ease forwards;
}

@keyframes backdrop-blur-in {
    from { backdrop-filter: blur(5px) opacity(0); }
    to { backdrop-filter: blur(5px) opacity(1); }
}

.VPLocalSearchBox .backdrop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: backdrop-blur-in .2s ease forwards;
}

/**
 * Navbar blur effect
 * -------------------------------------------------------------------------- */

/* remove default opaque bg from navbar */
.content-body {
    background: none !important;
}

/* a hack for logo title to keep sidebar bg color */
@media (min-width: 960px) {
    .VPNavBar.has-sidebar div.title {
        background: var(--vp-sidebar-bg-color) !important;
    }
}

/* a bit of tint to make navbar not as transparent */
.VPNavBar {
    background: rgba(255, 255, 255, 0.75) !important;
}

.dark .VPNavBar {
    background: rgba(25, 25, 25, 0.5) !important;
}

.VPLocalNav {
    background: rgba(255, 255, 255, 0.75) !important;
}

.dark .VPLocalNav {
    background: rgba(25, 25, 25, 0.5) !important;
}

/* the blur effect */
.VPNav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(5px);
    z-index: -1;
}

.VPLocalNav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(5px);
    z-index: -1;
}

/**
 * Custom elements
 * -------------------------------------------------------------------------- */

.txt-ok {
    color: var(--vp-c-green-2);
}

.txt-warn {
    color: var(--vp-c-yellow-2);
}

.txt-err {
    color: var(--vp-c-red-2);
}

.made-with-table table {
    display: table;
    width: 100%;
}
.made-with-table th {
    text-align: center;
    color: var(--base-font-color);
}
.made-with-table th,
.made-with-table td {
    padding: 0 10px;
    font-size: 0.7rem;
}
a.made-with-store {
    display: inline-block;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    vertical-align: middle;
}
a.store-apple { background-image: url(/assets/img/made-with-db/apple.svg); }
a.store-google { background-image: url(/assets/img/made-with-db/google.svg); }
a.store-itch { background-image: url(/assets/img/made-with-db/itch.svg); }
a.store-ms { background-image: url(/assets/img/made-with-db/ms.svg); }
a.store-ps { background-image: url(/assets/img/made-with-db/ps.svg); }
a.store-steam { background-image: url(/assets/img/made-with-db/steam.svg); }
a.store-switch { background-image: url(/assets/img/made-with-db/switch.svg); }
a.store-xbox { background-image: url(/assets/img/made-with-db/xbox.svg); }

/* UPM package links on the /releases page. */
.upm {
    border: 1px solid var(--vp-code-copy-code-border-color);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: var(--vp-code-copy-code-bg);
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 17px;
    background-repeat: no-repeat;
    transition: border-color 0.25s, background-color 0.25s;
}

.upm:hover {
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
}

.upm-clicked {
    background-image: var(--vp-icon-copied);
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
}

abbr {
    cursor: help;
    text-underline-position: from-font;
}

/* Stretch YouTube embeds with small thumbnails. */
.imgit-youtube {
    width: 100% !important;
}

[data-imgit-container] + .custom-block,
.custom-block + [data-imgit-container] {
    /* While all the similar margins are 16px, the text line height also contributes to a bit
    of vertical "breathing" space, while when 2 non-text blocks, such as image and custom-block
    are next to each other, this space doesn't exist, hence visually it looks asymmetrical.
    We fix this by additional margin in such cases. */
    margin-top: 22px;
}

[data-imgit-container],
[data-imgit-container] img,
[data-imgit-container] video {
    border-radius: 8px;
}

.engine-design-light,
.engine-design-dark {
    width: 100%;
}

.engine-design-dark,
.dark .engine-design-light {
    display: none;
}

.engine-design-light,
.dark .engine-design-dark {
    display: block;
}

.config-table table {
    display: table;
    width: 100%;
}

.config-table th:nth-child(1),
.config-table td:nth-child(1) {
    width: 25%;
}

.config-table th:nth-child(2),
.config-table td:nth-child(2) {
    width: 25%;
}

.config-table th:nth-child(3),
.config-table td:nth-child(3) {
    width: 50%;
}

.command-param-nameless {
    text-decoration: line-through;
    border-bottom: 1px dotted #000;
    cursor: help;
}

.command-param-required {
    font-weight: 600;
    border-bottom: 1px dotted #000;
    cursor: help;
}
