.imgit-picture, .imgit-video {
    display: grid;
}

.imgit-picture > *, .imgit-video > * {
    grid-area: 1 / 1;
}

.imgit-cover {
    display: flex;
}

.imgit-cover img {
    contain: size;
}

[data-imgit-loaded] .imgit-cover {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
